
* {
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial;
    margin: 0;
    background-color: antiquewhite;
  }
  div{
   text-align: center;
   justify-content: center;
   font-size: 30px;
   
}
 h1{
   text-align: center;
   margin: 50px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 50px;

 }
 h1:hover{
    
    border-radius: 20px;
    color: aliceblue;
    text-shadow: 2px 1px 15px rgb(9, 9, 9);
 }
 input{
   border-radius: 12px;
   margin: 14px;
   padding: 9px;
 }
 table{
   background-color: rgb(239, 211, 173);
   height: 42%;
   width: 53%;
   margin-left: 224px;
   margin-top: 41px;
}
 form{
   display: block;
   margin: auto;
   width: 160px;
 }
 .btn{
    background-color: rgb(11, 30, 241);
    color: rgb(244, 251, 251);
    border: none;
 }
  
 .home{
   display:inline-block;
   display: block;
   margin: auto;
   
   width: 108px;
   padding: 21px 21px;
   text-decoration: none;
   color: black;
   font-size: 29px;
   text-shadow: 1px 2px 9px rgb(214, 81, 81);
   border-radius: 66px;
   background-size: -76px;
}

 .home:hover{
   font-size: 32px;
   color: rgb(34, 50, 65);
   text-shadow: 0px 0px 9px red;
 }
 .footer {
   display: flex;
 padding: 20px;
   text-decoration: none;
   background: rgb(224, 172, 172);
 }
 .foo1{
   display: block;
   margin: auto;
   text-decoration: none;
   
 }
 .foo3{
   display: block;
   margin: auto;
   text-decoration: none;
   
 }
 .foo2{
   display: block;
   margin: auto;
   text-decoration: none;
 
 }
 .foo1:hover{
   color: rgb(124, 24, 212);
   font-size:35px;
 }
 .foo2:hover{
   color: rgb(124, 24, 212);
   font-size:35px;
 }
 .foo3:hover{
   color: rgb(124, 24, 212);
   font-size:35px;
 }